extends default
block content

    // Page Container
    .parent
        #bodyContainer.container.res.cen
            h2#header.pb-2.border-bottom= header 
            p= hostname 
            p= uptime
            p= sysIp
            p= conIp
            p= format